{% extends "base.html" %}

{% block content %}
  <h2>Page not found</h2>
  <p>Sorry we couldn't execute your search. Perhaps head back to our homepage to <a href="{{ url_for('index') }}">try again</a>?</p>
{% endblock %}
