{% extends "base.html" %}

{% block content %}
  <h2>About</h2>
  <p>This project was created with an agenda: to learn more about <a class="links" href="https://www.elastic.co/guide/en/elasticsearch/guide/current/index.html">Elasticsearch</a>. It was created in the process of writing and researching <a class="links" href="https://www.datadoghq.com/blog/monitor-elasticsearch-performance-metrics/">this guide to monitoring Elasticsearch</a>.</p>
{% endblock %}
