{% extends "base.html" %}


{% block content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ElasticSnoop</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                  <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Go ahead, snoop your heart out.</h1>
            <p class="lead">Search and snoop your Elasticsearch indices, with ElasticSnoop.<br>ElasticSnoop runs on Elasticsearch and Flask. <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </p>
          <div class="row">
              <div class="col-lg-12">
                <form method="POST" action="{{ url_for('search') }}">
                  <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" name='search'>search!</button>
                        </span>
                    </div><!-- /input-group -->
                  </div>
                </form>
              </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->



          <div class="mastfoot">
            <div class="inner">
              <p>P.S. Learn how to <a href="https://www.datadoghq.com/blog/monitor-elasticsearch-performance-metrics/">monitor Elasticsearch</a> on the <a href="https://www.datadoghq.com/blog">Datadog blog</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

{% endblock %}

