{% extends "base.html" %}


{% block content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ElasticSnoop</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                  <li><a href="{{ url_for('search') }}">Search</a></li>
                  <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            {% if search_status %}
            <h2>Your search returned {{ num_results }} results</h2>
              <h3>Search results:</h3>
                {% for doc in results['hits']['hits'] %}
                  <p>{{ doc['_source']['Title'] }}</p>
                {% endfor %}
            {% endif %}

          </div>



          <div class="row">
          <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-btn">
                  <a href="{{ url_for('index') }}"><button class="btn btn-default" type="submit" name='search'>search again!</button></a>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->

          <div class="mastfoot">
            <div class="inner">
              <p>P.S. Learn how to <a href="https://www.datadoghq.com/blog/monitor-elasticsearch-performance-metrics/">monitor Elasticsearch</a> on the <a href="https://www.datadoghq.com/blog">Datadog blog</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

{% endblock %}

